@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@media only screen and (max-width: 600px) {
  
  p{
    size: .5rem;
    
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .col {
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .grid {
    display: grid;
  }
  
}
:root {
  --main-color: #FAFF00;
  --border-color: #ddd;
  --font-family:'Roboto', sans-serif;
}

.heroImg{
  background: url("./images/Background.png") no-repeat center;
}

.hero {
  height: 40em;
  background: url("./images/Background.png") no-repeat center;
  background-size: auto;
  position: relative;
}

.claim {
  color: #dbdbdb;
  font-size: 2.5em;
  padding: 22% 7em 0 2em;
  position: relative;
  text-align: center;
  margin-left:10% ;
}
p {
  text-align: center;
  size: 2rm;
  font-weight: bold;
  color: #aca9a9;
  /* line-height: .5px; */
  font-family: var(--font-family)
}
.centerH1{
    text-align: center;
    
}
.btnGet {
    background: transparent;
    color: white;
    border: 1px solid;
    padding: 10px;
    border-radius: .5rem;
}
.btnGet >a{
color: white;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid black;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-left: 50%;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: var(--font-family);
}
.btns {
  margin-left: 40%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px;
  border-radius: 0.5rem;
  height: 350px;
}
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  border: 1px solid #cac7c7;
  padding: 10px;
  border-radius: 0.5rem;
  height: 200px;
  margin: auto;
}
.h5,
h5 {
  text-align: center;
  font-family: var(--font-family);
}
.priceTitle {
  background: #F1ECC3;
  width: 30%;
  border-radius: 0.5rem;
  text-align: center;
  color: #FFD523;
}

.recommenedDiv {
  display: flex;
  flex-wrap: wrap;
}
.card-title {
  margin: auto;
}
.btnShop{
    background: var(--main-color);
    margin: 10px;
    border: gray;
    border-radius: .5rem;
    padding: 10px;
    color: white;
}
.btnShop>a{
    color: white;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-left: 38%;
}

.card3{
    width: 90%;
    height: 150%;
    border: 1px solid black;
    position: relative;
    top: 200px;
}
.h1Wlc{
    font-weight: 800;
}
